<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/head">
<body>
<div class="main">
    <div th:replace="fragment/menubar"></div>
    <div class="container">
        <h1>Book</h1>
        <table border="1" class="table-list">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Year</th>
                <th>Quantity</th>
                <th>Borrow</th>
                <th>Return</th>
                <th>Delete</th>
            </tr>
            <tr th:each="book : ${listBook}">
                <td th:text="${book.id}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.year}"></td>
                <td th:text="${book.quantity}"></td>
                <td>
                    <a th:href="@{/borrow/__${book.id}__}">Mượn</a>
                </td>
                <td>
                    <a th:href="@{/return/__${book.id}__}">Trả</a>
                </td>
                <td>
                    <a th:href="@{/delete/__${book.id}__}">Xoá</a>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>